.card {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border: 1px solid #bdbdbd;
  border-radius: 24px;
  padding: 2rem;
  margin: auto;
  height: auto;
  margin-block-start: 4%;
  margin-block-end: 1%;
}

.footer {
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #828282;
}
